.nav {
  padding: 10px;
  background-color: #fff;
}
.nav ul {
  overflow: hidden;
}
.nav ul li {
  float: left;
  width: 33.33%;
}
.products {
  padding: 10px;
  overflow: hidden;
  background-color: #fff;
}
.products .product {
  border: 1px solid #ccc;
  padding: 10px;
  float: left;
  width: 48%;
  margin-top: 10px;
  text-align: center;
}
.products .product .price span:first-child {
  color: red;
}
.products .product .price span:last-child {
  color: #666;
  text-decoration: line-through;
}
.products .product:nth-child(2n + 1) {
  margin-right: 10px;
}
